<% stylesheet('assets/'+key+'/portlet.css') %>
<% 
  var skype = SARAH.ConfigManager.getModule(key); 
  var info = skype.getBasic(SARAH); 
%>

<div class="logo">
  <a href="sarah/<%=key%>?mode=test" class="ajax"><img src="/assets/<%=key%>/images/skype.png"></a>
</div>

<div class="text">
  <br/><span class="title">Skype</span>
  <div class="author">by AVN</div>
  <span class="status">Compte:<%=info.account%></span>
  <br/><span class="status">Etat:<%=info.status%></span>
  <br/><span class="status">Der. appel entrant:<%=info.lastcall%></span>
</div>